---
BasedOnStyle: Microsoft
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
PointerAlignment: Left
RequiresClausePosition: OwnLine
BreakBeforeConceptDeclarations: Always
IndentRequiresClause: False
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
BinPackParameters: True
AllowAllArgumentsOnNextLine: False
